# Python packages required for search.py
PyQt5
sys
os
time

# Python packages required for number_of_characters_words.py
re

# Python packages required for number_of_sentences.py
nltk

# Python packages required for json_file_read.py
json

# Python packages required for xml_file_read.py
xml.etree.ElementTree

# Python packages required for plot_data.py
plotly
pandas

# Python packages required for create_html.py
pandas
webbrowser